* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-image: url("/public/Images/Screenpage-min.jpg");
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрує контент */
  justify-content: center;
}

@media (max-width: 1440px) {
  .container {
    width: 1440px;
    margin: 0 auto;
  }
}

.homepage {
  width: 100%;
  height: 100%;
  margin-top: 72px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрує контент */
  justify-content: center;
  text-align: center;
}

.campers {
  font-size: 3rem;
  font-weight: bold;
  color: #f7f7f7;
  text-align: center;
  margin: 0;
}

.abzth {
  font-size: 1.5rem;
  margin-top: 10px;
  color: #f7f7f7;
  text-align: center;
}

.viewNow {
  border-radius: 30px;
  height: 50px;
  width: 150px;
  margin-top: 20px;
  background-color: rgb(228, 72, 72);
  color: #f7f7f7;
  border: none;
  cursor: pointer;
  align-self: center; /* Виправляє зміщення кнопки */
  text-align: center;
}

.viewNow:hover {
  background-color: rgb(189, 90, 90);
}

.prevuy {
  text-align: center;
}

