.container {
  padding: 20px;
  position: fixed
  
}

.filter {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  top: 20px;
  width: 300px;
  height: auto;
  margin-top: 40px;
 
}

.inputLocation {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  transition: border-color 0.3s;
  width: 100%;
  box-sizing: border-box;
}

.inputLocation:focus {
  border-color: #007bff;
}

.sectionTitle {
  font-size: 1.2rem;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

/* Контейнер для груп (Vehicle equipment і Vehicle type) */
.filterGroup {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Контейнер для елементів фільтрів */
.filterItems {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: flex-start;
}

/* Оновлені стилі для кнопок-фільтрів */
.filterItem {
  border: 2px solid #ccc;
  border-radius: 10px;
  cursor: pointer;
  font-size: 17px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  text-align: center;
  min-width: 130px; /* Збільшено для довшого тексту */
  height: 60px;
  padding: 5px 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap; /* Текст не переноситься */
  /* Прибрано overflow: hidden і text-overflow: ellipsis */
}

/* Ефект при наведенні */
.filterItem:hover {
  background-color: #bcb6b6;
}

/* Коли натискається фільтр */
.filterItem:active,
.filterItem.selected {
  background-color: rgb(214, 3, 95);
  color: rgb(255, 251, 251);
  border-color: rgb(6, 5, 1);
}

/* Стилі кнопки пошуку */
.searchButton {
  padding: 12px 20px;
  background-color: #9000ff;
  color: white;
  border: none;
  border-radius: 15px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-left: 0;
  width: 100%;
  box-sizing: border-box;
}

.searchButton:hover {
  background-color: #6200b3;
}